/* fonts */
@font-face {
  font-family: ChettaVissto;
  src: url(ChettaVissto.woff); /* url of the font */
}

/* All colors etc 
saved: #9198e5, #a3caae
*/
:root {
    --font-family-main: 'Times New Roman', monospace;
    --font-size-heading: 5rem;
    --font-size-subtitle: 1.5rem;
    --font-size-subtitle-small: 1rem;
    --font-size-main: 1.5rem;
    --font-size-button: 2rem;
    --font-size-nav-mobile: 2.4rem;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --color-text: #e6e6e6;
    --color-subtitle: #999;
    --color-text-dark: #111;
    --color-subtitle-dark: #444;
    --color-text-light: #f0f0f0;
    --color-subtitle-light: #999;
    --color-footer: #8c38b0;
    --color-bg: #d9f2e5;
    --block-bg-color: #ffffff30;
    --color-link-hover: #e36330;
    --max-width-main: 700px;
    --text-transform-body: lowercase;
    --text-transform-h1: none;
    --text-transform-link: uppercase;
    --text-transform-link-hover: uppercase;
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-extra-large: 3rem;
    --max-width-content: 60dvw;
    --gallery-gap: calc(var(--spacing-small) * 2);
}

body {
  height: 100vh;
	color:#001405;
  background: radial-gradient(#9ba3ff, #a9ffc1);
	margin:0;
}

body::after {
  inset: 0;
  pointer-events: none;
  content: "";
  position: fixed;
  background: rgba(255,255,255,0.05);
  filter: url(#bgNoiseFilter);
}

.header {
  position: relative;
  /* font-family: "Garamond", Times, serif; */
  display: flex;
  color: var(--color-text-dark);
  flex-direction: column;
  text-align: center;
  font-family: "Arial";
  z-index: 1;
}

#name, #name-button {
  font-size: var(--font-size-heading);
  font-family: var(--font-family-main);
  text-transform: var(--text-transform-h1);
  border-radius: 30px;
  margin: 0px auto;
  margin-top: 0.5em;
  margin-bottom: 0.01em;
  background: none;
  border: none;
  font-weight: bold;
}

input:focus, button:focus a:focus {
  outline: 0;
}

#main-desc {
  height: 50vh;
  width: 90vw;
  border: none;
  background: none;
  z-index: 1;
}

#intro-text {
  font-size: var(--font-size-main);
  color: var(--color-subtitle-dark);
  position: absolute;
  top: 0;
  left: 30px;
  padding-bottom: 15px;
  width: 25vw;
  line-height: var(--spacing-large);
}

#hobbies-text {
  font-size: var(--font-size-main);
  color: var(--color-subtitle-dark);
  position: absolute;
  padding-top: 15px;
  right: 20px;
  text-align: right;
  bottom: 0;
  width: 25vw;
  line-height: var(--spacing-large);
}

#main-desc span{
  align-items: center;
  font-size: var(--font-size-main);
}

#subtitle {
  font-family: "Garamond", Times, serif;
  font-family: "Arial";
  font-size: var(--font-size-subtitle);
  text-align: center;
  width: fit-content;
  color: var(--color-subtitle-dark);
  margin: 0px auto;
  margin-top: 0;
  padding: 0px;
  z-index: 1;
}

#subtitle-less-imp {
  font-family: "Garamond", Times, serif;
  font-size: var(--font-size-subtitle-small);
  color: var(--color-subtitle-dark);
  z-index: 1;
}

.main-sections {
  font-size: var(--font-size-main);
  width: max(50vw, 50vh);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  bottom: -60vh;
  z-index: 1;
}

#eng-button, #art-button, #about-button {
  font-family: var(--font-family-main);
  font-size: var(--font-size-button);
  border: none;
  background-color: #ffffff00;
  padding: 15px;
  align-items: center;
  transition: background-color 0.3s;
  font-weight: bold;
}

#eng-button:hover, #art-button:hover, #about-button:hover {
  background-color: var(--block-bg-color);
  border-radius: 20px;
}

.subpage dialog {
  position: relative;
  height: 100vh;
  width: 100vw;
  border: None;
  color: white;
  background-color: #00093af2;
  z-index: 0;
  transition: opacity 0.3s;
}

.subpage dialog[open] {
  opacity: 1;
  pointer-events: inherit;
}

.subpage dialog::after {
  content:"";
  inset: 0;
  pointer-events: none;
  position: absolute;
  filter: url(#subpageNoiseFilter);
  opacity: 0.7;
  z-index: -1;
}

.subpage dialog span {
  position: relative;
  font-size: var(--font-size-main);
  align-items: center;
  z-index: 1;
}

#close {
  font-family: var(--font-family-main);
  font-size: var(--font-size-button);
  width: fit-content;
  background-color: #000000a0;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: var(--color-text-light);
  border: none;
}

#eng {
  z-index: 1;
}

/* Hyperlinks */
.link{
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.link:hover {
  color: var(--color-link-hover);
  /* text-transform: var(--text-transform-link-hover); */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
  color: var(--color-footer);
  z-index: 1;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}